@import './theme.scss';

.nav_link {
    @extend %titles;
    h1 {
        color: $ah-offblack;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-thickness: 2px;
    }
    h2 {
        color: $ah-offblack;
    }
    h3 {
        color: $ah-gold;
        font-weight: bold;
    }
    h4 {
        color: $ah-gold;
    }
    h5 {
        color: $ah-gold;
    }
    h6 {
        color: $ah-gold;
    }
}

td {
    margin: 0 auto;
    vertical-align: bottom;
}

.form-group{
    .row{
        padding: 5px;
    }
    h5{
        text-align: right;
    }
    button{
        background-color: $ah-red;
        color: $ah-offwhite;
        border-radius: 8px;
        font-size: 20px;
    }
    button:hover{
        background-color: $ah-offwhite;
        color: $ah-red;
    }
    .small_h5{
        text-align: center;
    }
}
