@import './theme.scss';

.nav_link {
    @extend %titles;
    padding-left: 8px;
    padding-right: 8px;
    h1 {
        color: $ah-offblack;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-thickness: 2px;
    }
    h2 {
        color: $ah-offblack;
    }
    h3 {
        color: $ah-gold;
        font-weight: bold;
    }
    h4 {
        color: $ah-gold;
    }
    h5 {
        color: $ah-gold;
    }
    h6 {
        color: $ah-gold;
    }
}

td {
    margin: 0 auto;
    vertical-align: bottom;
}

.form-group{
    .row{
        padding: 5px;
    }
    h5{
        text-align: right;
    }
    button{
        background-color: $ah-red;
        color: $ah-offwhite;
        border-radius: 8px;
        font-size: 20px;
    }
    button:hover{
        background-color: $ah-offwhite;
        color: $ah-red;
    }
    .small_h5{
        text-align: center;
    }
}

.form-row{
    button{
        background-color: $ah-red;
        color: $ah-offwhite;
        border-radius: 8px;
        font-size: small;
        width: 70px;
    }
    button:hover{
        background-color: $ah-offwhite;
        color: $ah-red;
    }
}


.nav-item{
    padding-right: 8px;
    font-size: large;
    button{
        background-color: $ah-red;
        color: $ah-offwhite;
        border-radius: 8px;
        font-size: medium;
        width: 70px;
        
    }
    button:hover{
        background-color: $ah-offwhite;
        color: $ah-red;
    }
}

.card{
    button{
        background-color: $ah-red;
        color: $ah-offwhite;
        border-radius: 8px;
        font-size: medium;
    }
    button:hover{
        background-color: $ah-offwhite;
        color: $ah-red;
    }
}

.button{
    background-color: $ah-red;
    color: $ah-offwhite;
    border-radius: 8px;
    font-size: medium;
    outline-color: $ah-offwhite;;
}
.button:hover{
    background-color: $ah-offwhite;
    color: $ah-red;
    outline-color: $ah-offwhite;;
}


Table{
    outline-style: auto;
    outline-color: $ah-red;
    
    
    thead{
        background-color: $ah-red;
        font-weight: bold;
        font-size: larger;
        color: #dbc5a9;
        th{
            outline-style: auto;
            outline-color: $ah-offwhite;
        }


    }
    tbody{
        tr{
            outline-style: auto;
            outline-color: $ah-red;
        }


    }
    .button{
        background-color: $ah-red;
        color: $ah-offwhite;
        border-radius: 8px;
        font-size: medium;
        outline-color: $ah-offwhite;;
    }
    .button:hover{
        background-color: $ah-offwhite;
        color: $ah-red;
        outline-color: $ah-offwhite;;
    }
}