@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import "~bootstrap/scss/bootstrap";

$ah-white: #ffffff;
$ah-offwhite: #edeae6;
$ah-gold: #c5a173;
$ah-offblack: #181c16;
$ah-red: #cf0015;

%titles {
    h1 {
        font-family: 'Poiret One', cursive;
    }
    h2 {
        font-family: 'Poiret One', cursive;
    }
    h3 {
        font-family: 'Poiret One', cursive;
    }
    h4 {
        font-family: 'Poiret One', cursive;
    }
    h5 {
        font-family: 'Poiret One', cursive;
    }
    h6 {
        font-family: 'Poiret One', cursive;
    }
}